* {
    font-family: 'Nunito', sans-serif;
}

#logo h1 {
    font-size: 1.5em;
    font-weight: 600;
    margin: 0;
}

li:hover {
    font-weight: bold;
    transition: 300ms;    
}

.tile {
    margin: 0 0 15px 0;
    border-radius: 16px;
    background-color: rgb(187, 187, 187);
    /* padding-bottom: 8%; */
}

.tile a {
    text-decoration: underline;
}

.tile h3, .tile p {    
    margin: 0;
}

/************** LOVE PAGE *******************/
#backHomeButton {
    background-color: rgb(26, 103, 167);
    width: 320px;
    margin: auto;
    padding: 16px 0;
    text-align: center;
    border-radius: 16px;
}
#backHomeButton span {    
    font-size: 1.1em;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #fff;
}
a:hover {
    text-decoration: none;
}